Repository CBATeam/CBA_A3, pull requests merged in 2021-07, with the labels that each got.

#1423 deploy.py: Pylint fixes
  tools/deploy.py
Labels: Enhancement, Ignore Changelog, Tools

#1469 Tools - Add VScode tasks, Fix make.py for HEMTT, Fix unicode error in check strings
  .gitignore
  tools/.vscode/tasks.json
  tools/check_strings.py
  tools/make.py
Labels: Ignore Changelog, Tools

#1473 Add missing includes for SQFC
  include/a3/ui_f/hpp/defineResinclDesign.inc
  sqfc.json
Labels: Enhancement, Tools
