Repository CBATeam/CBA_A3, pull requests merged in 2023-08, with the labels that each got.

#1594 Tools - Add tool to run sqfvm checks on cba
  .gitignore
  tools/.vscode/tasks.json
  tools/sqfvmChecker.py
Labels: Tools, Ignore Changelog

#1467 XEH - Use `compileScript` in `compileEventHandlers`
  addons/xeh/fnc_compileEventHandlers.sqf
Labels: Enhancement

#1583 Optics - Fixed magnification text flickering at 1.0x zoom level
  addons/optics/fnc_animateScriptedOptic.sqf
Labels: Bug Fix

#1565 Add support for building with HEMTT v1.0+
  .github/workflows/arma.yml
  .github/workflows/documentation.yml
  .github/workflows/pboproject.yml
  .gitignore
  .hemtt/hooks/post_release/01_rename_zip.rhai
  .hemtt/hooks/pre_build/01_set_version.rhai
  .hemtt/project.toml
  addons/common/Cfg3DEN.hpp
  addons/common/fnc_switchPlayer.sqf
  addons/common/test_position.sqf
  addons/diagnostic/CfgDisplay3DEN.hpp
  addons/diagnostic/CfgFunctions.hpp
  addons/diagnostic/XEH_preInit.sqf
  addons/diagnostic/fnc_isDebugConsoleAllowed.sqf
  addons/diagnostic/gui.hpp
  addons/jr/config.cpp
  addons/jr/jr_classes.hpp
  addons/keybinding/gui.hpp
  addons/optics/RscInGameUI.hpp
  addons/settings/Display3DEN.hpp
  addons/settings/gui.hpp
  addons/strings/fnc_decodeURL.sqf
  addons/ui/CfgUIGrids.hpp
  addons/ui/Display3DEN.hpp
  addons/ui/LobbyManager.hpp
  addons/ui/RscTitles.hpp
  addons/ui/config.cpp
  addons/ui/flexiMenu/data/menu_arma2.hpp
  addons/ui/flexiMenu/data/menu_buttonList.hpp
  addons/ui/flexiMenu/data/menu_iconRow.hpp
  addons/ui/flexiMenu/data/menu_popup.hpp
  addons/ui/flexiMenu/data/menu_rose.hpp
  addons/xeh/CfgFunctions.hpp
  addons/xeh/fnc_endLoadingScreen.sqf
  addons/xeh/fnc_initDisplay.sqf
  addons/xeh/fnc_startLoadingScreen.sqf
  hemtt.toml
  include/a3/functions_f/debug/fn_isDebugConsoleAllowed.sqf
  include/a3/functions_f/gui/fn_initDisplay.sqf
  include/a3/functions_f/misc/fn_endLoadingScreen.sqf
  include/a3/functions_f/misc/fn_startLoadingScreen.sqf
  include/a3/ui_f/hpp/defineResincl.inc
  tools/.vscode/settings.json
  tools/setup.bat
  tools/updateIncludes.py
Labels: Tools
